################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AUSprojekat/v17
/dCom/.vs/dCom
